/* Variables */

:root {
  --color-primary: #e3017a;
  --color-primary-lighter: #f390c6;
  --color-primary-lighter-transparent: #f390c760;
  --color-secondary: #6e057b;
  --color-secondary-transparent: #6d057b80;
  --color-accent: #ffc71f;
  --color-accent-transparent: #ffc71f91;
  --color-headings: #210227;
  --color-text: #14000b;
  --color-body: #f2f2f8;
  --color-border: #fdecfb;
  --color-body-darker: #bdbddb;
}

/* General rules*/

html {
  box-sizing: border-box; /* default components to border-box with inheritence*/
  font-size: 62.5%;
  min-width: 320px;
}

*,
*::after,
*::before {
  /* default components to border-box with inheritence*/
  box-sizing: inherit;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}
/* Typography */

::selection {
  /* selected text formating */
  background: var(--color-accent-transparent);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 1.3px;
  color: var(--color-text);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Hepta Slab", serif;
  color: var(--color-headings);
  margin-bottom: 1rem; /* Let the heading contain the margin */
  line-height: 1.1;
  letter-spacing: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  margin-top: 0; /* Let the heading contain the margin */
}

/* Links */

a {
  text-decoration: none;
  display: inline-block;
}

/* Lists */

ul {
  list-style-type: none;
}

/* Navigation */

.nav {
  font-family: "Hepta Slab", serif;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 2px;
  position: fixed;
  background: var(--color-secondary-transparent);
  min-height: 60px;
  width: 100vw;
  z-index: 99;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  top: 0px;
  transition: top 0.5s;
}

.nav-button {
  position: fixed;
  top: -25px;
  transition: top 0.5s;
  transition-delay: 0.5s;
}

.nav__items {
  padding: 0 20px;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav__items a {
  margin-top: 20px;
  color: #fff;
}

.nav-logo {
  margin-top: -6px;
  height: 66px;
}

.nav-btn {
  display: none;
}

.nav-logo-mobile {
  display: none;
}

.nav-logo img {
  background: rgba(73, 70, 70, 0.1);
  box-shadow: 0px 5px 20px rgba(73, 70, 70, 0.3);
  margin-top: 4px;
}
