:root {
  --color-primary: #e3017a;
  --color-primary-lighter: #f390c6;
  --color-secondary: #6e057b;
  --color-secondary-transparent: #6d057b80;
  --color-accent: #ffc71f;
  --color-headings: #210227;
  --color-text: #14000b;
  --color-body: #f2f2f8;
  --color-border: #fdecfb;
  --color-body-darker: #bdbddb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

/* ::selection {
  background: var(--color-primary);
  color: white;
} */
html {
  font-size: 62.5%;
  min-width: 320px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Hepta Slab", serif;
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

/* Links */

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.nav {
  font-family: "Hepta Slab", serif;
  font-weight: 100;
  letter-spacing: 2px;
  position: fixed;
  background: var(--color-secondary-transparent);
  /* height: 66px; */
  width: 100vw;
  z-index: 99;
}

.nav-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 86px;
}

.nav-items {
  padding: 0 20px;
}

.nav-items a {
  margin-top: 20px;
  color: #fff;
}

.nav-logo {
  margin-top: -6px;
  height: 66px;
}

/* .nav-logo img {
  background: rgba(73, 70, 70, 0.1);
  box-shadow: 0px 5px 20px rgba(73, 70, 70, 0.3);
  margin-top: 4px;
} */

.nav-button {
  display: none;
}

.hero__content .hero--logo {
  margin-top: 50px;
}

.hero--background-image {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.hero--logo {
  position: absolute;
  object-fit: contain;
  height: 20vh;
  width: 70vw;
  top: 40vh;
  left: 15vw;
}

.spectrum-background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(var(--color-secondary), transparent),
    linear-gradient(to bottom left, var(--color-primary-lighter), transparent),
    linear-gradient(to bottom right, var(--color-secondary), transparent);
  background-blend-mode: screen;
}
.nav_toggler {
  display: none;
}

.hidebtn {
  display: none;
}

.nav-items.nav-logo_mobile {
  display: none;
}

@media screen and (min-width: 780px) and (max-width: 1140px) {
  .nav-items.nav-logo {
    display: none;
  }

  /* .nav-items.nav-logo_mobile {
    display: flex;
    width: 100vw;
    justify-content: center;
  } */

  .nav-items.nav-logo_mobile img {
    height: 66px;
  }
}

@media screen and (max-width: 780px) {
  .nav-items.nav-logo {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-items {
    width: 100vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.137);
  }

  /* .nav-items:first-of-type {
    border-bottom: none;
  } */
  .nav-items:last-of-type {
    border-bottom: none;
  }

  .hero__content .hero--logo {
    margin-top: 140px;
  }

  .nav-items.nav-logo_mobile {
    display: block;
    width: fit-content;
    max-height: 100px;
  }

  .nav-logo_mobile {
    width: 40vw;
    min-width: 200px;
    object-fit: contain;
    margin-top: 5px;
    margin-bottom: 3vw;
  }

  .nav_toggler {
    display: block;
    float: right;
    width: 60px;
    margin: 2vw 8px;
    object-fit: contain;
  }

  .nav_toggler img {
    border: 2px solid rgba(255, 255, 255, 0.062);
    border-radius: 50%;
  }

  .collapsible {
    display: none;
  }
  /* .collapsible.collapsible--expanded {
    display: block;
  } */
  div.collapsible.\.collapsible--expanded {
    display: block;
  }

  .hidebtn {
    padding: 15px;
    display: block;
    position: absolute;
    margin: 2vw 8px;
    right: 10px;
    opacity: 0;
  }
}
